# dependencies
server/node_modules
client/node_modules

# production
server/build
/build

# misc 
.DS_Store

# environment variables
server/.env

# other
npm-debug.log*ы
yarn-debug.log*
yarn-error.log*